body{
    background: rgb(255, 255, 255);
    text-align: center;
    margin: 5px;
}
.MainContainer{
    position: static;
    width: 1150px;
    height: 490px;
    margin: 0 auto;
}
.MainItem{
    float: left;;
}
#CanvasContainer{
    background-color: #cbf5fa;
    display: block;
    position: relative;
    width: 540px;
    height: 484px;
    margin: 5px;
    box-shadow: 0 3px 4px rgb(68, 68, 68);
    border-top: solid 6px rgb(59, 199, 255);
}
#ReactionContainer{
    display: block;
    position: relative;
    width: 600px;
    height: 480px;
}
#ReactionListContainer{
    background-color: #cbf5fa;
    display: block;
    position: relative;
    width: 590px;
    height: 164px;
    margin: 5px;
    box-shadow: 0 3px 4px rgb(68, 68, 68);
    border-top: solid 6px rgb(59, 199, 255);
}
#ReactonDetailContainer{
    background-color: #cbf5fa;
    display: block;
    position: relative;
    width: 590px;
    height: 304px;
    margin: 5px;
    margin-top: 10px;
    box-shadow: 0 3px 4px rgb(68, 68, 68);
    border-top: solid 6px rgb(59, 199, 255);
}
#canvas_wrapper{
    position: relative;
    width: 500px;
    height: 350px;
    margin: 3px auto;
}
canvas{
    position: absolute;
    top: 0px;
    left: 0px;
}
#reactionTable{
    margin:0 auto;
}
td{
    background-color: rgb(255, 255, 255);
}
#config{
    z-index: 2;
    display: none;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 10px 20px;
    background-origin: 2px solid #aaa;
    background: #fff;
}
#overlay{
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.6);
    margin-top: 0px;
}