<div>
    <div>{{ reaction.name }}</div>
    <div>
        <img id="detailBefore" src={{ "/static/images/svgs/" + getsmiles + "_" + rSmarts + ".svg" }} width="100" height="100" alt={{ getsmiles }} oncontextmenu="detailMoleculeContextmenu('detailBefore');return false;">
        <img id="detailArrow" src="/static/images/arrow.png" oncontextmenu="detailArrowContextmenu('detailArrow');return false;">
        {% for x in prelist[num] %}
            <img id={{ x }} src={{ "/static/images/svgs/" + x + ".svg" }} width="100" height="100" alt={{ x }} oncontextmenu="detailMoleculeContextmenu('{{ x }}');return false;">
        {% endfor %}
    </div>
    
    <div>{{ getsmiles }} => {% for x in prelist[num] %} {{x}} {% endfor %}</div>
    <div>
        反応パターン
        {% for n in range( prelist|length ) %} <!--jinja2ではlen(list)の代わりにlist|lengthを使う-->
            <input type="button" value={{ n }} onclick="getReactionPattern({{ getid }}, {{ n }})">
        {% endfor %}
    </div>
    <div><p></p></div>
    <div>{{ reaction.condition }}</div>

</div>